<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,526},{140,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,165}}</string>
                <key>sourceSize</key>
                <string>{140,165}</string>
            </dict>
            <key>balloon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,166},{151,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,175}}</string>
                <key>sourceSize</key>
                <string>{151,175}</string>
            </dict>
            <key>balloon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{162,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,187}}</string>
                <key>sourceSize</key>
                <string>{162,187}</string>
            </dict>
            <key>balloon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,781},{172,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,198}}</string>
                <key>sourceSize</key>
                <string>{172,198}</string>
            </dict>
            <key>balloon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,781},{192,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,219}}</string>
                <key>sourceSize</key>
                <string>{192,219}</string>
            </dict>
            <key>balloon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,319},{205,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,232}}</string>
                <key>sourceSize</key>
                <string>{205,232}</string>
            </dict>
            <key>balloon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{224,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,253}}</string>
                <key>sourceSize</key>
                <string>{224,253}</string>
            </dict>
            <key>balloon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{241,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,271}}</string>
                <key>sourceSize</key>
                <string>{241,271}</string>
            </dict>
            <key>balloon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,315}}</string>
                <key>sourceSize</key>
                <string>{279,315}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balloon.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f73a35095cc89efca9b459413aa663a:1/1$</string>
            <key>textureFileName</key>
            <string>balloon.png</string>
        </dict>
    </dict>
</plist>
