<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{627,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,117}}</string>
                <key>sourceSize</key>
                <string>{627,117}</string>
            </dict>
            <key>count.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{194,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,262}}</string>
                <key>sourceSize</key>
                <string>{194,262}</string>
            </dict>
            <key>finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,524},{209,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,91}}</string>
                <key>sourceSize</key>
                <string>{209,91}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,704},{176,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,181}}</string>
                <key>sourceSize</key>
                <string>{176,181}</string>
            </dict>
            <key>inputFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{371,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,91}}</string>
                <key>sourceSize</key>
                <string>{371,91}</string>
            </dict>
            <key>query.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,887},{224,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,123}}</string>
                <key>sourceSize</key>
                <string>{224,123}</string>
            </dict>
            <key>reTry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{488,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,117}}</string>
                <key>sourceSize</key>
                <string>{488,117}</string>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,888},{224,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,123}}</string>
                <key>sourceSize</key>
                <string>{224,123}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{545,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,59}}</string>
                <key>sourceSize</key>
                <string>{545,59}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,704},{202,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,182}}</string>
                <key>sourceSize</key>
                <string>{202,182}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{589,401}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,401}}</string>
                <key>sourceSize</key>
                <string>{589,401}</string>
            </dict>
            <key>topRefresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,617},{185,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,131}}</string>
                <key>sourceSize</key>
                <string>{185,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{742,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cffe37b43b129ac43fe7a55ec6105e94:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
