
/*@font-face {
	  	font-family: 'PingFang Regular';
	  	src:url('../fonts/PingFang-Regular.svg#PingFang Regular') format('svg');
	}*/
body{
	padding:0;
	background: #f0eff5;
	max-width: 750px;
	margin: 0 auto;
}
p{
	margin:0;
}
a,a:active,a:link,a:focus{
	text-decoration: none;
	color:inherit;
}
ol{
	list-style-type: none;
}
/*商品详情*/
#detail-scroll{
	padding-bottom: 76pt;
}
.commodity-carousel{
	width:100%;
	/*height:175pt;*/
	    min-height: 330px;
}
.commodity-carousel .swiper-wrapper{
	width:100%;
	height:100%;
}
.commodity-carousel .swiper-wrapper .swiper-slide{
	width:100%;
	height:100%;
}
.commodity-carousel .swiper-wrapper .swiper-slide img{
	width:100%;
	height:100%;
}
.img-gps{
	width:32px;
	height:40px;
	background: url('../images/shopcat/location.png');
	/*background-position: -393px -335px;*/
}
.img-rightarrow{
	/*width:24px;
	height:40px;*/
	/*background: url('../images/shopcat/arrow-right.png');*/
	/*background-position: -758px -212px;*/
}
#detail-scroll>.swiper-container-horizontal > .swiper-pagination-bullets{
	position: absolute;
	/*right:30px;*/
	width:97%;
	text-align: center;
	margin-left:0;
	margin-right:0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
	/*margin-right:18px;*/
	margin:0 8pt;
}
.swiper-pagination-bullet {
	line-height: 14px;
	bottom:20px;
	margin-bottom: 0;
	width: 14px;
    height: 14px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid white;
    border-radius: 14px;
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination-bullet:not(:last-child) {
	margin-right:18px;
}
.swiper-pagination-bullet-active {
    width: 14px;
    height: 14px;
    background-color: #010101;
    border: 1px solid #010101;
}
.detail-intro {
	color:#212121;
	font-size: 22px;
	background-color: #fff;
	padding: 10pt 20px 20pt 20px;
	border-bottom: 1px solid #c8c8cb;
}
.detail-intro .intro-row {
	padding-bottom: 15pt;
	line-height: 22px;
}
.detail-intro .intro-row > div {
	margin-right: 30px;
}
.intro-value {
	color:#ff6b51;
}

.list-arrow.weui_cells{
	margin: 30px 0 50px 0;
	font-size: 30px;
	color:#212121;
}
.list-arrow .weui_cell{
	padding:0 30px;
	border-top: 1px solid #c8c8cb;
	border-bottom: 1px solid #c8c7cd;
	font-size: 30px;
	color:#2d2d2c;
	line-height: 88px;
}
.list-arrow .weui_cell .weui_cell_hd{
	margin-right: 30px;
}
.line-text1{
	padding:0 30px 5px 30px;
	position: relative;
	margin-bottom: 30px;
}
.line-text1 hr{
	border-top:1px solid #c8c7cd;
}
.line-text1 > div{
	position: absolute;
	color:#2d2d2c;
	font-size: 30px;
	line-height: 30px;
	top:-15px;
	left:50%;
	margin-left: -120px;
	padding:0 15pt;
	background-color:#f0eff5;
	text-align: center;
}
.commodity-lists-detail {
	background-color:#f0eff5;
	/*padding:20px 6px;*/
}
.commodity-list{
	float:left;
	font-size: 28px;
	color:#262626;
	width:330px;
	padding-bottom: 30px;
	margin-left: 30px;
	/*margin-right:14px;*/
}

.commodity-list .list-img{
	width:100%;
	height:330px;
	position: relative;
}
.commodity-image{
	height:330px;
	width:330px;
}
.commodity-list .list-value{
	position: absolute;
	bottom: 0;
	width: 330px;
	background-color: #000000;
	color:#fff;
	height:40px;
	/*padding-left: 20px;*/
	padding-top: 12px;
	 opacity: 0.3;
}
.commodity-list .list-title{
	margin-top: 20px;
	text-align: left;
	line-height: 20px;
	overflow: hidden;
/*	padding-top: 20px;*/
	/*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}
.btn-bottom{
	position: fixed;
	bottom: 0;
}
.status-tip{
	position: fixed;
	bottom: 146px;
	height:70px;
	background-color: gray;
	color:#fff;
	font-size: 30px;
	text-align: center;
	line-height: 70px;
	width:750px;
}
.detail-btn{
	height: 76pt;
	cursor: pointer;
}
.detail-btn>div{
	float: left;
}
.btn-icon{
	text-align: center;
	font-size: 22px;
	color:#32332e;
	background-color: #fff;
	border-top: 1px solid #c8c8cb;
	width:150px;
	height:100%;
	display:table;
}
.btn-icon:first-of-type{
	border-right: 1px solid #c8c8cb;
}
.btn-icon>div{
	display: table-cell;
	vertical-align: middle;
}
.img-phone{
	/*width:53px;
	height:52px;*/
	/*background: url('../images/shopSprite.png');
	background-position: -510px -357px;*/
	display: inline-block;
}
img.phone {
    width: 43px;
    height: 42px;
}
img.store {
    width: 42px;
    height: 42px;
}
.img-storebig{
	/*width:50px;
	height:50px;*/
	display: inline-block;
	/*background: url('../images/shopSprite.png');
	background-position: -346px -437px;*/
}
.btn-cart{
	background-color: #717378;
	color:#fff;
	font-size: 36px;
	height:100%;
	width:225px;
	line-height: 76pt;
	text-align: center;
}
.btn-buy{
	background-color: #31352f;
	color:#fff;
	font-size: 36px;
	height:100%;
	width:225px;
	line-height: 76pt;
	text-align: center;
}
.btn-cart-no{
	background-color: #717378;
	color:gray;
	font-size: 36px;
	height:100%;
	width:300px;
	line-height: 146px;
	text-align: center;
}
.btn-buy-no{
	background-color: #31352f;
	color:gray;
	font-size: 36px;
	height:100%;
	width:260px;
	line-height: 146px;
	text-align: center;
}
.add-cart-cover1,.add-cart-cover2{
	top: 0;
	left:0;
	width:100%;
	overflow: hidden;
	display: none; 
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	background-size: cover;
	height:100%;
    z-index: 999;
}
.add-cart,.buy-now-hasaddress{
	position: fixed;
	top:100%;
	width: 750px;
	z-index: 1000;
	background-color: #fff;
	display: none;
}
.buy-now-hasaddress{
	 display:none; 
}
.buy-now-noaddress{
	position: fixed;
	top:100%;
	width: 750px;
	z-index: 1000;
	background-color: #fff;
	font-size: 30px;
	 display: none; 
}
.add-cart-content{
	padding: 16px 30px 0 30px;
	position: relative;
}
.add-cart-detail {
    padding-bottom: 26px;
    border-bottom: 1px solid #dcdcdc;
}
.add-cart-img{
	width:330px;
	height:330px;
	margin-right: 20px;
}
.add-cart-text{
	padding-top: 114px;
	max-width: 330px;
	font-family:"苹方 中等";
	color:#221815;
}
.add-cart-value{
	font-size: 36px;
	color:#fe6c4e;
	margin-bottom: 30px;
	line-height: 36px;
}
.add-cart-title{
	font-size: 22px;
	margin-bottom: 20px;
	color:#262626;
	line-height: 22px;
}
.add-cart-post{
	font-size: 28px;
	color:#262626;
	margin-bottom: 20px;
	margin-right: 30px;
}
.add-cart-rest{
	font-size: 24px;
	color:#221815;
	margin-bottom: 20px;
	line-height:24px;
	min-width: 220px;
}
.add-cart-choose{
	font-size: 24px;
	color:#221815;
	margin-bottom: 20px;
	line-height:24px;
	    min-width: 220px;
}
.add-cart-count{
	border-top: 1px solid #c8c7cd;
	border-bottom: 1px solid #c8c7cd;
	height:90px;
	font-size: 30px;
	color:#262626;
	margin-top: 24px;
	margin-bottom: 30px;
}
.add-cart-count>div:first-of-type{
	line-height: 88px;
}
.add-cart-btn1,.add-cart-btn2,.add-cart-btn3{
	width: 100%;
	height:146px;
	background-color: #fe6b4d;
	color: #fff;
	text-align: center;
	line-height: 146px;
	font-size: 40px;
	cursor: pointer;
}
.close1{
	position: absolute;
	right:0;
	z-index: 1001;
	cursor: pointer;
	width:48px;
	height:48px;
	background: url('../images/detail/close.png');
	/*background-position: -202px -110px;*/
	    margin-right: 30px
}
.close2{
	position: absolute;
	/*top:-30px;*/
	right:30px;
	z-index: 1001;
	cursor: pointer;
	width:48px;
	height:48px;
	background: url('../images/detail/close.png');
	/*background-position: -202px -110px;*/
}
/*加减按钮*/
.spinner{
	padding:20px 0;
}
a.spinner-plus,a.spinner-minus{
	display: inline-block;
	width:50px;
	height:50px;
	background-color: #f0eff5;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	color:#b5b5b5;
}
.spinner-plus.disabled,.spinner-minus.disabled{
	background-color: #fafafb;
}
.spinner input[type='text']{
	background-color: #f0eff5;
	width:50px;
	height:50px;
	font-size: 36px;
	color:#262626;
	line-height: 50px;
	text-align: center;
	padding: 0;
	border:none;
	vertical-align: bottom;
	outline: none;
}
.addcart-commodityimg{
	width:330px;
	height:330px;
}
.add-cart-lists{
	margin-top: 60px;
}
.add-cart-list{
	/*padding:0 30px;*/
	height:98px;
	line-height: 98px;
	border-bottom:1px solid #c8c8cb;
	color:#2d2d2c; 
	position: relative;
}
.addressDetail{
	height:200px;
    vertical-align: middle;
	padding:0 30px;
}
.btn-submit:link{
	color:#fff;
}
.btn-submit:visited{
	color:#fff;
}
.btn-submit:hover{
	color:#fff;
}
.inputbuyerName{
	margin-left: 60px;
	width:63%;
	height:40px;
	line-height: 40px;
}
.inputbuyerNumber{
	margin-left: 30px;
	width:63%;
	height:40px;
	line-height: 40px;
}
.add-cart-lists input{
	color:#2e2d2d;
	border:none;
	margin-right: 30px;
}
.inputbuyerStreet{
	margin-left: 90px;
	width:75%;
	height:40px;
	line-height: 40px;
}
.right-arrow{
	position: absolute;
	top:30px;
	right:0;
	width:24px;
	height:40px;
	background: url('../images/detail/right-arrow.png');
	/*background-position: -806px -198px;*/
}
.addressDetail{
	height:200px;
	line-height: 28px;
	font-size: 28px;
	width:100%;
	border:none;
}
.inputbuyerStreet,.inputbuyerArea{
	text-align: right;
}
.inputbuyerArea{
    margin-left: 30px;
	width:73%;
	height:40px;
	line-height: 40px;
}
/*地址选择器*/
.weui-picker-overlay, .weui-picker-container{
	z-index: 1000;
}
.weui-picker-overlay, .weui-picker-container{
	width:750px;
	margin:0 auto;
}
.weui-picker-modal{
height:720px;
}
.weui-picker-modal .toolbar{
	height:120px;
	line-height: 120px;
	background-color: #f6f6f6;
	font-size: 50px;
}
a.picker-button.cancel-picker {
    left: 0 !important;
    position: absolute;
    right: 80%;
}
.weui-picker-modal .picker-button{
	color:#0078ff;
    right:5.2%;
    height:120px;
    line-height: 120px;
}
.weui-picker-modal .picker-items{
	height:600px;
	background-color: #ededed;
	justify-content:flex-start;
}
.weui-picker-modal .picker-item{
	height:108px;
	line-height: 108px;
	color:#6c7172 !important;
	text-align: center;
	font-size: 40px;
}
.city-picker .col-province{
	text-align: center;
	margin-left: 10.42%;
	width:140px;
}
.city-picker .col-city{
	width:380px;
	margin:0 auto;
}
.city-picker .col-district{
	width:200px;
	margin-right: 10.42%;
	text-align: center;
}
.weui-picker-modal .picker-center-highlight{
	top:44%;
	height:108px;
	border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.weui-picker-modal .picker-center-highlight::before{
	color:#d2d2d2;
}
.weui-picker-modal .picker-center-highlight::after{
	color:#d2d2d2;
}
.sku_info{ 
	width: 100%;
}
.skuinfo_key{
	 font-size: 24px;
    color: #221815;
	float:left;
	line-height: 24px;
	margin: 24px 0; 
}
.skuinfo_valuelist{
	float:left;
	width: 100%;
}
.skuinfo_value {
    margin-right: 22px;
    font-size: 20px;
    color: #221815;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    padding: 10px;
    float: left;
    background-color: #dcdcdc;
    /*width: 72px;*/
    height: 48px;
    border-radius: 10px;
    text-align: center;
}
.selected-sku{
	background-color: #999;
	/*color:#fff;*/
}
.skuinfo_value.disabled {
    /* opacity: 0.3; */
    background-color: #c4bfbf;
}
.skuinfo_value.disabled.selected-sku {
    opacity: 0.3;
}
.commodity-sku-quantity{
	float:right;
	margin-right: 20px;
	line-height:88px;
	color:gray;
}
#ghost{
	position: fixed;
	right:3.125%;
	bottom: 200px;
	/*display:none;*/
	/*background: url('../images/shopSprite.png');
	background-position: -271px -305px;*/
}
/*toast 弹窗设置*/
.weui_toast_content {
  margin: 0 0 15px;
  font-size:30px;
}
.weui_toast {
  position: fixed;
  z-index: 3;
  width: 20.8em !important;
  min-height: 18.8em !important;
  top: 30%;
  left: 50%;
  margin-left: -10.4em !important;
  background: rgba(40, 40, 40, 0.75);
  text-align: center;
  border-radius: 20px;
  color: #FFFFFF;
}
.weui_icon_toast {
  margin: 2.2em 0 0 0 !important;
  display: block;
  margin-bottom:2.2em !important;
}