/*auth:xuedan*/
/*订单管理*/
*{
   margin:0;
   padding:0;
}
.order-active{
	background-color: #fb2d5c;
	color: white;
}
/*.container-order{
	max-width: 100%;
	min-width: 1600px;
	margin-right: 50px;
	margin-left: 50px;
}*/
.container-order{
	margin-left: 20px;
	width: 96%;
	/*max-width: 100%;*/
	min-width: 1150px;
}
body{
	background-color:#f8f8f8;
	max-width: 100%;}
.condition{
    width: 100%;
	height:70px;
	background-color:#ffffff;
	margin-top:50px;
}
.condition p{
	display:block;
	line-height:75px;
	margin-left:30px;
	font-size:30px;
	font-family: 微软雅黑 Regular;
	color:#32323a;}
.weborder-select{
	height:40px;
	width:110px;
	font-family: 微软雅黑 Light;
	font-size:18px;
	color:#32323a;
/*	margin-top:20px;*/
	/*margin-left:20px;*/
}
.input-content{
	height:40px;
	width:20%;
	font-family: 微软雅黑 Light;
	font-size:18px;
	color:#777;
}
.number,.name,.phone{
	margin-left:18px;}
.buyers-name{
	margin-left:45px;}
.buyers-number{
	margin-left:55px;}
.weborder-words{
	font-family: 微软雅黑 Light;
	font-size:18px;
	color:#32323a;
	/*margin-left:20px;*/
    margin-top: 20px;}
.weborder-title{
	width:100%;
    margin-top: 20px;}
/*.weborder-title input{
    margin-top: 20px;
}*/
.weborder-find{
	margin-top: 40px;
}
.weborder-time{
	margin-top:38px;}
.order-time{
	margin-left:20px;}
.near-days{
	font-family: 微软雅黑 Light;
	font-size:18px;
	color:#fb2d5c;}
.days-fir{
	margin-left:60px;
    cursor: pointer;}
.day-sec{
	margin-left:40px;
    cursor: pointer;}
.days-fir:hover{
	text-decoration: underline;
}
.day-sec:hover{
	text-decoration: underline;
}
.near-days-visited{
	text-decoration: underline;
}	
.select-sec{
	/*margin-top:20px;*/
	margin-left:20px;}
.find{
	width:120px;
	height:40px;
	border-radius:4px;
	background-color:#fb2d5c;
	color:white;
	font-size:18px;
	font-family: 微软雅黑 Light;
	margin-left:100px;
	border:none;
	cursor:pointer;}
.find:hover{
	opacity: 0.9;
}
.lists{
	background-color:#ffffff;
	width:100%;
	height:70px;
	line-height:75px;
	
}
.order-list{
	display:block;
	margin-left:30px;
	margin-top:50px;
	font-size:30px;
	font-family: 微软雅黑 Regular;
	color:#32323a;}
.btn-group{
	width:11.5%;
	height:50px;
	margin-right: -4px;
}
.last-three{
	border-left: 3px solid #999999;
}
.done-btn{
	margin-left: -1px;
}
.btn{
	float:left;
	width:100%;
	height:50px;
	font-size:24px;
	font-family: "微软雅黑 Light";
	background-color:#dcdcdc;
	border-radius: 0px;
	border: 1px solid #999999;
    outline:none;
	box-shadow:none;}
.active{width:100%;
	height:50px;
	font-size:24px;
	font-family: "微软雅黑 Light";
	background-color:#f8f8f8;
	border-bottom:none;
	border-left:1px solid #999999;
	border-top:1px solid #999999;
	border-right:1px solid #999999;
	outline:none;
	box-shadow:none;}
.navgation-detial{
	margin-top:25px;
	width:100%;
	height:50px;
	margin-bottom: 25px;
   }
.listContent{
	width:100%;
	line-height:30px;
	table-layout:fixed;
 }
.list-content{
	margin-top:20px;

	width:100%;
}
.lists-title th{
	font-size:18px;
	font-family: '微软雅黑 Light';
	color:#32323a;
	text-align: center;
	}
td{
	line-height: 40px;
}
.lists-detail a{
	color:#32323a;
}

/*.list-title{
	height:40px;
	margin-top:20px;
	width:1660px;
	height:70px;
	background-color:#ffffff;
	}*/
.lists-title{
	height:	70px;
	width:100%;
	background-color:#ffffff;
	}
.lists-detail{
	height:80px;
	width:90%;
	background-color:#ffffff;}
.lists-detail-body{
	height:80px;
	width:90%;
	background-color:#ffffff;
}
.lists-detail-body a{
	color:#32323a;
}
.detail-tr td{
	border-bottom:20px solid #f8f8f8;
}
.title-tr th{
	border-bottom:20px solid #f8f8f8;
}
/*弹窗*/
.detail-btn{
	height:24px;
	width:81px;
	background-color:#fb2d5c;
	color:#fff;
	border-radius:4px;
	outline:none;
	box-shadow:none;
	border: none;
}
.detail-btn:hover{
	opacity: 0.9;
}
/*确认收货弹窗样式*/	
.confirm-layer{
	width:540px; 
	height:250px;
	display: none;
}
.remind{
    position: relative;
	top: 108px;
	left: 120px;
}
.remind1{
	font-family: "微软雅黑" regular;
	font-size: 30px;
	color: #32323a;
}
.remind2{
	font-family: "微软雅黑" light;
	font-size: 18px;
	color: #666;
	padding-top: 20px;
	margin-bottom: 40px;
}
.remind3,.remind4{
	text-align: center;
	font-family: "微软雅黑" light;
	font-size: 18px;
	color: #666;
}
.choose-btn{
	margin-right: 50px;
    width: 160px;
	height: 44px;
	border-radius: 4px;
	font-family: "微软雅黑" regular;
	font-size: 18px;
	color: #fff;
	border: 1px solid #fb2d5c;
	background: #fb2d5c;
	cursor: pointer;	
}
/*退货弹窗*/
.refund-layer{
	/*width:470px; 
	height:380px;*/
	display: none;
}
.refund-info{
    /*position: relative;
	top: 60px;
	left: 134px;*/
}
.refund-title{
	/*position: relative;
	left: 180px;*/
	font-family: "微软雅黑" regular;
	font-size: 30px;
	color: #32323a;
	text-align: center;
    margin-top: 40px;
}
.question{
	margin-left: 25%;
    margin-top: 46px;
	/*position: relative;
	left: 50px;
	top: 40px;*/
}
.question span{
	font-family: "微软雅黑" light;
	font-size: 18px;
	color: #32323a;
	/*position: relative;
	bottom: 60px;*/
	float: left;
    padding-right: 20px;
    display: inline-block;
}
.refund-content{
	/*position: relative;
	top: 60px;
	left: 50px;*/
	    margin-left: 25%;
}
.picture {
    margin-top: 20px;
}
.picture-title {
    float: left;
    padding-right: 20px;
}
.refund-content span{
    font-family: "微软雅黑" light;
	font-size: 18px;
	/*color: #32323a;*/
	display: inline-block
}
.refund-content p{
    font-family: "微软雅黑" light;
	font-size: 18px;
	color: #32323a;
	margin-top: 20px;
	float: left;
    width: 100%;
}
.order-money {
    color: #fb2d5c;
}
.choose{
	/*position: relative;
	top: 200px;
	left: 190px; */ 
	margin-top: 40px;
	margin-left: 25%;
	float: left;
	    margin-bottom: 24px;	
}
.choose-btn{
	margin-right: 50px;
    width: 160px;
	height: 44px;
	border-radius: 4px;
	font-family: "微软雅黑" regular;
	font-size: 18px;
	color: #fff;
	border: 1px solid #fb2d5c;
	background: #fb2d5c;
	cursor: pointer;	
}
/*发货弹窗*/
.send-layer{
	width:430px; 
	height:380px;
	display: none;
}
.send-info{
    position: relative;
	top: 108px;
	left: 160px;
}
.send-info span{
    font-family: "微软雅黑" light;
	font-size: 18px;
	color: #666;
}
.send-info p{
    font-family: "微软雅黑" light;
	font-size: 18px;
	color: #666;
}
.choose-btn{
	margin-right: 50px;
    width: 160px;
	height: 44px;
	border-radius: 4px;
	font-family: "微软雅黑" regular;
	font-size: 18px;
	color: #fff;
	border: 1px solid #fb2d5c;
	background: #fb2d5c;
	cursor: pointer;	
}
.input-order-num{
	width: 300px;
	height: 22px;
}
.input-money{
	width: 300px;
	height: 22px;
	    padding-left: 10px
}
/*日历颜色*/
.jedatebox .jedatetop{
	background: #fb2d5c;
}
.jedatebox{
	border: 1px #fb2d5c solid;
}
.jedatebot .jedatebtn span{
	background-color: #fb2d5c;
}
.jedatebox .jedaul li.action{
	background: #fb2d5c;
}
.jedatebox .jedaul li.prevdate, .jedatebox .jedaul li.nextdate{
	color:#f88;
}
.jedatesety .ymdropul li.action, .jedatesetm .ymdropul li.action{
  background-color: #fb2d5c;
}
.jedatetopym p span.jedateymchok{
  background-color: #fb2d5c;
}
.jedateh p.action, .jedatems p.action{
  background-color: #fb2d5c;
}
/*分页*/
.page_control{
	padding-left: 100px;
	overflow: hidden;

}
.page_control ul li{
	float: left;
	margin: 50px 50px 80px 0;
	width: 60px;
	height:60px;
	line-height: 60px;
	/*border: 1px solid #a6a6a6;*/
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	
}
.pagination>li>a, .pagination>li>span {
	width:60px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color:#fb2d5c;
	border: 1px solid #fb2d5c;
	width: 60px;
}
/*支付流水号*/
.pay-num{
	height: 50px;
	width: 500px;
	padding-top: 5px;
	padding-left: 80px;
}
.commoditydetail{
	margin-left: 10px;
}
.orderNum,.orderMoney{
	color: #fb2d5c;
}
/*toast提醒*/
.toast-position-top-right{
  position: fixed;
  top:10px;
  right:40%;
}
.toast-item p{
  text-align: left;
  margin-left: 35px;
  font-size: 20px;
}
/*催货次数div*/
#hurryTimes{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20px;
	height: 20px;
	background-color:#fb2d5c;
	color: #fff;
    font-size: 3px;
}
/*td内文字过长用省略号*/
.commoditydetail {
 white-space:nowrap;
 text-overflow:ellipsis; 
 -o-text-overflow:ellipsis; 
 overflow: hidden;
	 }

.page_control{
	text-align: center;
	padding-left: 0px;
}
/*.siderbar{
	height:2930px;
}*/
th.list-title1 {
    width: 20%;
}
.sidebar{height:2730px;}
.no-picture-mention {
    float: left;
}
textarea#questionContent {
    width: 299px;
    height: 100px;
    color: #666666;
    font-size: 14px;
    font-family: '微软雅黑 light';
    background-color: #fff;
}
.button-style {
    text-align: center;
    position: absolute;
    bottom: 80px;
}
img.img_list {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
span.mention-tips {
    margin: 50px 30px;
    font-size: 22px;
}